Package: com.noisyflake.goodges2
Name: Goodges 2
Depends: mobilesubstrate, firmware (>= 11.0), org.thebigboss.libcolorpicker, applist
Version: 2.0.0
Architecture: iphoneos-arm
Description: Good bye badges, hello labels !
Depiction: https://apt.noisyflake.com/depictions/index.html?id=com.noisyflake.goodges2
Maintainer: NoisyFlake
Author: NoisyFlake
Section: Tweaks
